* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
}

.item-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
}

.counter button {
    padding: 5px 10px;
}

.grand-total {
    margin-top: 20px;
}

p {
    font-size: 20px;
}

p:not(:last-of-type) {
    margin-bottom: 10px;
}

.item-boxes .item-box {
    text-align: center;
}

.item-boxes .item-box:not(:last-of-type) {
    margin-bottom: 20px;
}

.item-boxes .item-box {
    width: 350px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: hsl(0, 0%, 90%);
}

p.grand-total {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.counter {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}